<div>
	<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

		<!-- Position Column -->
		<ng-container matColumnDef="_id">
			<th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
			<td mat-cell *matCellDef="let element"> {{element._id}} </td>
		</ng-container>

		<!-- Name Column -->
		<ng-container matColumnDef="name">
			<th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
			<td mat-cell *matCellDef="let element"> {{element.name}} </td>
		</ng-container>

		<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
	</table>
</div>

<div>
	<table mat-table [dataSource]="dataSource3" matSort class="mat-elevation-z8">

		<!-- Position Column -->
		<ng-container matColumnDef="zonename">
			<th mat-header-cell *matHeaderCellDef mat-sort-header> zone </th>
			<td mat-cell  *matCellDef="let element">
				<p *ngIf="element"> {{element.name}}</p>
			</td>
		</ng-container>

		<!-- Name Column -->
		<ng-container matColumnDef="departmentname">
			<th mat-header-cell *matHeaderCellDef mat-sort-header> department </th>
			<td mat-cell *matCellDef="let element"></td>
		</ng-container>

		<ng-container matColumnDef="wardsname">
			<th mat-header-cell *matHeaderCellDef mat-sort-header> ward </th>
			<td mat-cell *matCellDef="let element">
				<span *ngFor="let department of element.department">
        <span *ngFor="let ward of department.wards">
          {{ward.wardsname}} 
        </span>
				</span>
			</td>
		</ng-container>

		<ng-container matColumnDef="ipads">
			<th mat-header-cell *matHeaderCellDef mat-sort-header> ipad </th>
			<td mat-cell *matCellDef="let element let p=index">
				<span *ngFor="let department of element.department let i=index">
        <span *ngFor="let ward of department.wards let j=index">
          <tr *ngFor="let ipads of ward.ipads let k=index">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? selection.toggle(element) : null"
                          (change)="lol()"
                          [checked]="selection.isSelected(element)">
            </mat-checkbox>
            {{ipads}} 
          </tr>
        </span>
				</span>
			</td>
		</ng-container>

		<tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
	</table>

	<br>

	<p>{{yow}}</p>

</div>
<!-- Copyright 2018 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->