<div>
	<table mat-table [dataSource]="dataSource3" matSort class="mat-elevation-z8">

		<!-- Position Column -->
		<ng-container matColumnDef="zonename">
			<th mat-header-cell *matHeaderCellDef mat-sort-header> zone </th>
			<td mat-cell *matCellDef="let element">
				<span *ngFor="let zone of element.zone">
				{{zone.name}}
        </span>
			</td>
		</ng-container>

		<!-- Name Column -->
		<ng-container matColumnDef="departmentname">
			<th mat-header-cell *matHeaderCellDef mat-sort-header> department </th>
			<td mat-cell *matCellDef="let element">
				<span *ngFor="let zone of element.zone">
          <tr *ngFor="let department of zone.child">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selectionward.toggle(department) : null"
                        [checked]="selectionipad.isSelected(department)">        
          </mat-checkbox>
        {{department.name}}
          </tr>
        </span>
			</td>
		</ng-container>

		<ng-container matColumnDef="wardsname">
			<th mat-header-cell *matHeaderCellDef mat-sort-header> ward </th>
			<td mat-cell *matCellDef="let element">
				<span *ngFor="let zone of element.zone">
          <tr *ngFor="let department of zone.child">
            <span *ngFor="let ward of department.child">
              <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? selectionward.toggle(ward) : null"
                            [checked]="selectionward.isSelected(ward)">        
              </mat-checkbox> 
              {{ward.name}} 
            </span>
				</tr>
				</span>
			</td>
		</ng-container>

		<ng-container matColumnDef="ipads">
			<th mat-header-cell *matHeaderCellDef mat-sort-header> ipad </th>
			<td mat-cell *matCellDef="let element">
				<span *ngFor="let zone of element.zone">
        <tr *ngFor="let department of zone.child">
          <td>
          <span *ngFor="let ward of department.child">
            <tr *ngFor="let ipad of ward.child">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? upwardsSelectIpad(ipad) : null"
                          [checked]="selectiondepartment.isSelected(ipad)">
            </mat-checkbox>
            {{ipad.name}} 
            </tr>
          </span>
			</td>
			</tr>
			</span>
			</td>
		</ng-container>

		<tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
	</table>

	<br>

	<p>{{yow}}</p>

	<br>

	<p>{{yow1}}</p>

	<br>

	<p>{{yow2}}</p>

	<br>

  <p>{{yow3}}</p>




	<button (click)="hello()">test mig</button>
	<button (click)="hello1()">test mig1</button>
	<button (click)="hello2()">test mig2</button>

	<button (vlick)="hello3()">fuld test</button>
</div>
<!-- Copyright 2018 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->